{% extends "layout.html" %}

{% block head %}
<script src="/static/add_edit_commute.js"></script>
{% endblock %}

{% block title %}
    Add a commute
{% endblock %}

{% block main %}
<form action="/addcommute" method="POST" class="form">
    <div class="form_group" id="leg_data">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        Line <select name="line1" id="line1" onChange="update_drop_downs(this.options[this.selectedIndex].value, 1)">
            <option value="" disabled selected="selected">Select a subway line</option>
            {% for line in lines %}
                <option value={{ line }}>{{ line }}</option>
            {% endfor %}
        </select>
        Origin <select name="origin_name1" id="origin_name1">
            <option value="" disabled selected="selected">Select the origin station</option>
        </select>
        Destination <select name="termination_name1" id="termination_name1">
            <option value="" disabled selected="selected">Select the destination station</option>
        </select>
        <div></div>
    </div>
    <button type="button" onclick="add_commute_leg()">Add a Commute Leg</button>
    <input type="submit" value="Add Commute">
</form> 
{% endblock %}